  /* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arimo', sans-serif;
  position: relative;
}

html {
  overflow-x: hidden;
  background-color: var(--light-gray);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--main-dark);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

input, textarea, select {
  outline: none;
}

button {
  display: block;
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

/* VARIABLES */

:root {
  --white: #FFFFFF;
  --black: #000000;
  --light-gray: #F8F8F8;
  --gray: #707070;
  --dark-gray: #151515;
  --main-dark: #002054;
  --main: #184B9E;
  --main-light: #3B7EEB;
}