.page {
  width: 90%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 20px 0;
}

.page .heading {
  height: calc(20vh - 20px);
}

.page .heading > p {
  font-size: 15px;
  color: var(--theme-secondary);
  cursor: pointer;
}

.page .heading h1 {
  padding: 20px 0;
  font-size: 50px;
  padding-right: 2fr;
}

.page .opts {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page .content {
  display: grid;
  grid-template-columns: 75% 25%;
  column-gap: 25px;
}